.container {
    position:relative
}
.icone {
position:absolute;
}
.icone-01{
    left:65px;
    top:40px;
}
.icone-02 {
top: 210px;
left: 40px;
}
.icone-03{
    left:265px;
    top:220px;
}
.icone-04{
    left:380px;
    top:190px;
}
.icone-05{
    left:210px;
    top:120px;
}
.icone-06{
    left:600px;
    top:155px;
}
.icone-07{
    left:660px;
    top:310px;
}
.icone-08{
    left:515px;
    top:45px;
}
.icone-09{
    left:650px;
    top:100px;
}